# DAPLink / CMSIS-DAP OpenOCD config for STM32F407
source [find interface/cmsis-dap.cfg]
transport select swd
source [find target/stm32f4x.cfg]
adapter speed 2000
reset_config none

# Allow up to 4 GDB connections (2 for Cortex-Debug, 1 for LinkScope, 1 spare)
$_TARGETNAME configure -gdb-max-connections 4
